

.base-code
{
    margin: 10px;
    padding: 10px;

    border: 1px solid #e1e1e8;
    border-radius: 2px;
    background-color: #f7f7f9;
}

.pcontain
{
    display: flex;

    margin-top: 20px;

    border: 1px dotted #f01111;
}

.pcontain-height
{
    display: flex;

    margin-top: 20px;

    border: 1px dotted #f01111;
    
    height: 350px;
}

.pdir
{
    flex-direction: column;
}

.desc
{
    margin: 20px;
}

.item
{
    width: 100px;
    height: 100px;
    margin: 10px;

    text-align: center;

    background-color: #1afc5e;
}

.item-noheight
{
    width: 100px;
    margin: 10px;

    text-align: center;

    background-color: #1afc5e;
}

.flex-warp{
	flex-wrap: wrap;
}

.danger-text{
	color: #F01111;
	font-weight: lighter;
	font-size: large;
	margin: 20px;
}
