

.base-code
{
    margin: 10px;
    padding: 10px;

    border: 1px solid #e1e1e8;
    border-radius: 2px;
    background-color: #f7f7f9;
}

.base-codeWidth
{
    width: 300px;
    margin: 10px;
    padding: 10px;

    border: 1px solid #e1e1e8;
    border-radius: 2px;
    background-color: #f7f7f9;
}

.pcontain
{
    display: flex;

    margin-top: 20px;

    border: 1px dotted #f01111;
}

.pcontain-height
{
    display: flex;

    height: 350px;
    margin-top: 20px;

    border: 1px dotted #f01111;
}

.pdir
{
    flex-direction: column;
}

.desc
{
    margin: 20px;
}

.item
{
    width: 100px;
    height: 100px;
    margin: 10px;

    text-align: center;

    background-color: #1afc5e;
}

.item-noheight
{
    width: 100px;
    margin: 10px;

    text-align: center;

    background-color: #1afc5e;
}

.flex-warp
{
    flex-wrap: wrap;
}

.danger-text
{
    font-size: large;
    font-weight: lighter;

    margin: 20px;

    color: #f01111;
}
.itemtitle
{
    font-size: xx-large;

    margin-top: 200px;

    border-top: 5px aqua solid;
}
.keyword
{
    padding: 5px;

    color: crimson;
    background-color: #121312;
}
